
.c-alert {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  color: rgb(var(--color-primary));
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  padding: 10px 15px;
  word-wrap: break-word;
  border-radius: .25rem;
  border: 1px solid;

  margin: 15px 0;
  max-width: 100%;

  display: flex;
  align-items: center;

  .c-icon {
    margin-right: 5px;
  }

  &.alert-info {
    color: rgb(var(--color-secondary));
    // background-color: #349CE768;
    border-color: rgba(var(--color-secondary), 0.68)
  }

  &.alert-primary {
    color: rgb(var(--color-primary));
    // background-color: #400EC968;
    border-color: rgba(var(--rgb-primary), 0.68);
  }

  &.alert-warning {
    color: var(--color-warning);
    // background-color: rgba(255, 166, 0, 0.68);
    border-color: rgba(var(--rgb-warning), 0.68);
  }

  &.alert-error {
    color: rgb(var(--color-error));
    // background-color: #FC5A5A68;
    border-color: rgba(var(--rgb-error), 0.68);
  }

  &.alert-success {
    color: rgb(var(--color-success));
    background: rgba(var(--color-success), 0.68);
  }

  &.alt {
    min-height: 60px;
    border: none;
    border-radius: 9px;

    &.alert-info {
      color: rgb(var(--color-primary));
      background: rgba(var(--rgb-primary), var(--background-opacity));
    }

    &.alert-success {
      color: rgb(var(--color-success));
      background: rgba(var(--color-success), var(--background-opacity));
    }

    &.alert-warning {
      color: rgb(var(--color-warning));
      background: rgba(var(--rgb-warning), var(--background-opacity));
    }

    &.alert-error {
      color: rgb(var(--color-error));
      background: rgba(var(--rgb-error), var(--background-opacity));
    }
  }
}
