# Exclude All
/*

# Explicit includes
!.devcontainer
!.github
!.vscode
!doc
!public
!src
!test
!tests
!browserslistrc
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitattributes
!.gitignore
!.mocharc.js
!.npmignore
!.nycrc
!babel.config.js
!CHANGELOG.md
!cypress.json
!Dockerfile
!docker-compose.yml
!index.html
!jsdoc.config.js
!Makefile
!package-lock.json
!package.json
!README.md
!tsconfig.app.json
!tsconfig.eslint.json
!tsconfig.json
!vue.config.js
!tsconfig.app.json
!tsconfig.vite-config.json
!tsconfig.vitest.json
!vite.config.ts
!index.d.ts
!LICENSE
!.env.default
!cypress.config.ts
!env.d.ts
!vue-shim.d.ts
!.npmrc

# Artifacts
.DS_Store
