
:root {
  --color-primary: #400EC9;
  --color-secondary: #349CE7;
  --color-tertiary: #00ECCB;
  ---color-tertiary: #00ECCB;
  --color-applat: #F4FAFD;
  --color-shadow: #e2e2e2;
  --color-grey: #92929D;
  --color-text: #3D647C;
  --color-warning: #fca25a;
  --color-light-grey: #e3e1e1;
  --color-lightest-grey: #f5f4f4;
  --color-lightest-blue: #F7FBFF;
  --color-dark: #222121;
  --color-black: #000000;
  --color-error: #FC5A5A;
  --color-app-background: #F2F5F7;
  --color-alert-red: #D95656;
  --color-table-row: #F5F6F9;
  --color-success: #00ECCB;
  --color-info: #349CE7;
  --rgb-info: 52, 156, 231;
  --color-border: #BBC9D3;
  --color-white: #FFF;

  --rgb-primary: 64, 14, 201;
  --rgb-secondary: 52, 156, 231;
  --rgb-tertiary: 0, 236, 203;
  --rgb-applat: 244, 250, 253;
  --rgb-shadow: 226, 226, 226;
  --rgb-grey: 146, 146, 157;
  --rgb-text: 61, 100, 124;
  --rgb-warning: 255, 165, 0;
  --rgb-light-grey: 227, 225, 225;
  --rgb-dark: 34, 33, 33;
  --rgb-error: 252, 90, 90;
  --background-opacity: 0.14;
  --border-opacity: 0.20;
  --rgb-alert-red: 217, 86, 86;
  --rgb-success: 0, 236, 203;
}
