@if not variable-exists(var(--color-primary)) {
  :root {
    --color-primary: 64, 14, 201;
  }
}

@if not variable-exists(var(--color-secondary)) {
  :root {
    --color-secondary: 52, 156, 231;
  }
}

@if not variable-exists(var(--color-tertiary)) {
  :root {
    --color-tertiary: 0, 236, 203;
  }
}

@if not variable-exists(var(--color-shadow)) {
  :root {
    --color-tertiary: 226, 226, 226;
  }
}

@if not variable-exists(var(--color-grey)) {
  :root {
    --color-grey: 146, 146, 157;
  }
}

@if not variable-exists(var(--color-text)) {
  :root {
    --color-text: 61, 100, 124;
  }
}

@if not variable-exists(var(--color-warning)) {
  :root {
    --color-warning: 255, 165, 0;
  }
}

@if not variable-exists(var(--color-light-grey)) {
  :root {
    --color-light-grey: 227, 225, 225;
  }
}

@if not variable-exists(var(--color-lightest-grey)) {
  :root {
    --color-lightest-grey: 245, 244, 244;
  }
}

@if not variable-exists(var(--color-lightest-blue)) {
  :root {
    --color-lightest-grey: 247, 251, 255;
  }
}

@if not variable-exists(var(--color-dark)) {
  :root {
    --color-dark: 34, 33, 33;
  }
}


@if not variable-exists(var(--color-black)) {
  :root {
    --color-black: 0, 0, 0;
  }
}

@if not variable-exists(var(--color-error)) {
  :root {
    --color-error: 252, 90, 90;
  }
}

@if not variable-exists(var(--background-opacity)) {
  :root {
    --background-opacity: 0.14;
  }
}

@if not variable-exists(var(--color-success)) {
  :root {
    --color-success: 0, 197, 170;
  }
}

@if not variable-exists(var(--color-border)) {
  :root {
    --color-border: 187, 201, 211;
  }
}

@if not variable-exists(var(--color-white)) {
  :root {
    --color-white: 255, 255, 255;
  }
}

@if not variable-exists(var(--color-datatable-hover)) {
  :root {
    --color-datatable-hover: 223, 235, 244;
  }
}

@if not variable-exists(var(--color-header)) {
  :root {
    --color-header: 232, 236, 239;
  }
}

@if not variable-exists(var(--color-lite-datatable-header-text-color)) {
  :root {
    --color-lite-datatable-header-text-color: 190, 203, 213;
  }
}
